In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
pok = pd.read_csv("pokemon.csv", usecols=['Name'], squeeze=True)

In [3]:
pok.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [4]:
pok.sort_values()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
                ...
632                    Zoroark
631                      Zorua
46                       Zubat
695                   Zweilous
794           Zygarde50% Forme
Name: Name, Length: 800, dtype: object

In [5]:
pok.sort_values(ascending=False).head()

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
Name: Name, dtype: object

In [6]:
pok.sort_values(inplace=True)
pok.head()

510                  Abomasnow
511    AbomasnowMega Abomasnow
68                        Abra
392                      Absol
393            AbsolMega Absol
Name: Name, dtype: object

In [7]:
salary = pd.read_csv("survey_results_public.csv", usecols=['Salary'], squeeze=True, low_memory=False)
salary.head()

0       NaN
1     51000
2       NaN
3       NaN
4    260000
Name: Salary, dtype: object

In [8]:
salary.dropna(inplace=True)

In [9]:
salary.head()

1     51000
4    260000
5     30000
6    120000
8    250000
Name: Salary, dtype: object

In [10]:
salary.sort_values(ascending=False).head()

21276    999999999999999999999999999999
82859                 99999999999999999
54706                          99999999
22344                             99999
23915                             99999
Name: Salary, dtype: object

In [11]:
salary.sort_values().head()

82270    .0
83797     0
87553     0
83796     0
87564     0
Name: Salary, dtype: object

In [13]:
salary.sort_values(ascending=True, inplace=True)

In [14]:
salary.head()

82270    .0
76589     0
73950     0
73967     0
89841     0
Name: Salary, dtype: object

In [15]:
salary.sort_index(ascending=False)

89965         0
89960         0
89955         0
89954       700
89946         0
          ...
8        250000
6        120000
5         30000
4        260000
1         51000
Name: Salary, Length: 50578, dtype: object

In [16]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [18]:
maxSalaries.size

100

In [20]:
minSalaries = salary.sort_values().head(100)
minSalaries

82270    .0
87553     0
83796     0
87564     0
83792     0
         ..
84374     0
87270     0
84346     0
84336     0
87257     0
Name: Salary, Length: 100, dtype: object

In [23]:
type(maxSalaries)

pandas.core.series.Series

In [25]:
maxSalaries.mean()

TypeError: Could not convert 9999999999999999999999999999999999999999999999999999999999999999999999999999840998009975099700997996000996995199500995009950099500995009950.50994979940099309993000992099000099000990009900099000990009900099000990009900099000990009900099000990009900099000990009900099000990009900099000990009900099000990009900099000990009900099000990099009900990989009899889098880988009880098800988986009860098600986,529855098500985009850098500985009850098500985009850098400983982298200981,51980000009800000980000098000098000098000098000098000980009800098000 to numeric

In [26]:
minSalaries.mean()

0.0