In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
from datetime import datetime
from datetime import timedelta
import time

In [4]:
products = pd.read_csv('products.csv', usecols=['ProductID', 'ProductName'] )

In [6]:
orderProducts = pd.read_csv('order-details_del.csv', usecols=['OrderID', 'ProductID','UnitPrice', 'Quantity' ])

In [7]:
products.head()

   ProductID                   ProductName
0          1                          Chai
1          2                         Chang
2          3                 Aniseed Syrup
3          4  Chef Anton's Cajun Seasoning
4          5        Chef Anton's Gumbo Mix

In [8]:
orderProducts.head()

   OrderID  ProductID  UnitPrice  Quantity
0    10331         54        5.9        15
1    10332         18       50.0        40
2    10332         42       11.2        10
3    10332         47        7.6        16
4    10333         14       18.6        10

In [9]:
merged = products.merge(right=orderProducts, on='ProductID', how='outer', indicator=True)

In [10]:
merged.head()

   ProductID ProductName  OrderID  UnitPrice  Quantity _merge
0          1        Chai  10348.0       14.4      15.0   both
1          1        Chai  10354.0       14.4      12.0   both
2          1        Chai  10370.0       14.4      15.0   both
3          1        Chai  10406.0       14.4      10.0   both
4          1        Chai  10413.0       14.4      24.0   both

In [11]:
merged['_merge'].value_counts()

both          289
left_only       5
right_only      0
Name: _merge, dtype: int64

In [12]:
filter = merged['_merge'] == 'left_only'

In [13]:
merged[filter]

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
16,6,Grandma's Boysenberry Spread,NaN,NaN,NaN,left_only
38,15,Genen Shouyu,NaN,NaN,NaN,left_only
85,27,Schoggi Schokolade,NaN,NaN,NaN,left_only
242,66,Louisiana Hot Spiced Okra,NaN,NaN,NaN,left_only
243,67,Laughing Lumberjack Lager,NaN,NaN,NaN,left_only

In [16]:
suppliers = pd.read_csv('suppliers _del_1.csv', usecols=['SupplierID', 'CompanyName', 'City'])

In [20]:
products = pd.read_csv('products_del_1.csv', usecols=['ProductID','ProductName', 'SupplierID'])

In [21]:
prod_and_sup = products.merge(suppliers, on='SupplierID', how='inner' )

In [22]:
prod_and_sup

,ProductID,ProductName,SupplierID,CompanyName,City
0,1,Chai,1,Exotic Liquids,London
1,2,Chang,1,Exotic Liquids,London
2,3,Aniseed Syrup,1,Exotic Liquids,London
3,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans
4,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans
...,...,...,...,...,...
65,56,Gnocchi di nonna Alice,26,Pasta Buttini s.r.l.,Salerno
66,57,Ravioli Angelo,26,Pasta Buttini s.r.l.,Salerno
67,60,Camembert Pierrot,28,Gai pâturage,Annecy
68,61,Sirop d'érable,29,Forêts d'érables,Ste-Hyacinthe
69,62,Tarte au sucre,29,Forêts d'érables,Ste-Hyacinthe

In [23]:
len(prod_and_sup)

70

In [24]:
len(products)

75

In [25]:
len(suppliers)

27

In [27]:
prod_and_sup_outer = products.merge(right = suppliers, on='SupplierID', how='outer', indicator=True)

In [31]:
prod_and_sup_outer._merge.value_counts()

both          70
left_only      5
right_only     1
Name: _merge, dtype: int64

In [32]:
prod_left = prod_and_sup_outer._merge == 'left_only'

In [33]:
prod_and_sup_outer[prod_left]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [34]:
prod_right = prod_and_sup_outer._merge == 'right_only'

In [35]:
prod_and_sup_outer[prod_right]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only