In [61]:
import pandas as pd
from datetime import datetime, time, timedelta

In [6]:
df = pd.read_excel('plik kampanii Skoda Octavia.xlsx', sheet_name='AGB')

In [8]:
df.tail()

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others)
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,CHICAGO P.D. /SER.KRYM.USA/,0.00,0.03,0.07
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Z ARCHIWUM X /SER.USA/,0.20,0.06,0.15
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,HITY POLSKIEGO KABARETU /PROG.ROZRYW.POL./,0.14,0.05,0.07
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,GANG OLSENA JEDZIE DO JUTLANDII /FILM KOM.SENS...,0.00,0.35,0.28
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,SKOK /FILM SENS.KAN.USA/,0.33,0.10,0.13

In [9]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   datetime64[ns]
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   object
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   object
 6   Film Code                 8223 non-null   object
 7   Prog Campaign             8223 non-null   object
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 3.8 MB

In [10]:
len(df)

8223

In [11]:
df.Channel.nunique()

117

In [12]:
df.Channel.value_counts()

Extreme Sports          361
TVN24                   243
Polsat Sport News HD    211
Gametoon                183
Travel Channel          179
                       ...
E!Entertainment          15
BBC CBeebies             11
Scifi Universal           6
TVP1                      5
Animal Planet HD          1
Name: Channel, Length: 117, dtype: int64

In [14]:
df.Channel = df.Channel.astype('category')

In [15]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   datetime64[ns]
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   object
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   object
 7   Prog Campaign             8223 non-null   object
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 3.2 MB

In [16]:
df.Date.nunique()

20

In [17]:
df.Date = df.Date.astype('category')

In [18]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   category
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   object
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   object
 7   Prog Campaign             8223 non-null   object
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
dtypes: category(2), float64(3), int64(2), object(4)
memory usage: 3.2 MB

In [19]:
df.head()

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others)
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,COBRA ODDZIAL SPECJALNY/SER.NIEM./,0.00,0.0,0.01
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,DOWODY ZBRODNI /SER.SENS.USA/,0.07,0.0,0.01
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,DOWODY ZBRODNI /SER.SENS.USA/,0.07,0.0,0.01
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,DOWODY ZBRODNI /SER.SENS.USA/,0.07,0.0,0.01
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,DOWODY ZBRODNI /SER.SENS.USA/,0.07,0.0,0.01

In [20]:
df['PIB rel'] = df['PIB rel'].astype('category')

In [21]:
df['Film Code'] = df['Film Code'].astype('category')

In [22]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   category
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   category
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   category
 7   Prog Campaign             8223 non-null   object
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
dtypes: category(4), float64(3), int64(2), object(2)
memory usage: 1.4 MB

In [24]:
df['Prog Campaign'].value_counts()

STREAM NATION /MAG.KOMP./                        116
PORANEK W TVN 24                                 101
LIGA NARODOW /MECZ PILKI NOZNEJ/                 100
GORACE PYTANIA /PROG.PUBL.POL./                   71
VOX MUSIC TV                                      68
                                                ...
MALOMIASTECZKOWE SWIETA /FILM DRAM.OBYCZ.USA/      1
BETTY I CORETTA /FILM DRA.BIO.USA/                 1
OBSESJA NISZCZY MI ZYCIE /SER.DOK.USA/             1
KOSZMAR ZONY /FILM DRA.USA/                        1
SKOK /FILM SENS.KAN.USA/                           1
Name: Prog Campaign, Length: 2011, dtype: int64

In [25]:
df['Prog Campaign'] = df['Film Code'].astype('category')

In [26]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   category
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   category
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   category
 7   Prog Campaign             8223 non-null   category
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
dtypes: category(5), float64(3), int64(2), object(1)
memory usage: 763.1 KB

In [27]:
df.columns

Index(['Date', 'Time', 'PIB rel', 'PIB pos', 'PIB count', 'Channel',
       'Film Code', 'Prog Campaign', 'A 25-69 HHI3500+ (Skoda)',
       'A 16-49 (Others)', 'A 16-59 (Others)'],
      dtype='object')

In [32]:
df.sort_values(by=['Channel', 'Date'])

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others)
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...
4468,2020-09-20,02:10:00,Middle,11,14,nSport+ [nSport],Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00
4469,2020-09-20,11:22:00,Middle,6,12,nSport+ [nSport],Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00
4470,2020-09-20,13:50:00,Middle,7,15,nSport+ [nSport],Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00
4471,2020-09-20,18:41:00,Middle,5,11,nSport+ [nSport],Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.29,0.17,0.13
4472,2020-09-20,1900-01-01 01:46:00,Middle,11,14,nSport+ [nSport],Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00

In [33]:
df.loc[4472, 'Time']

datetime.datetime(1900, 1, 1, 1, 46)

In [34]:
df.loc[0, 'Time']

datetime.time(17, 26)

In [35]:
type(df.loc[0, 'Time'])

datetime.time

In [42]:
isinstance(df.loc[0, 'Time'], time)

True

In [50]:
isTime = df.Time == isinstance(df.Time, time)

In [51]:
isTime

0       False
1       False
2       False
3       False
4       False
        ...
8218    False
8219    False
8220    False
8221    False
8222    False
Name: Time, Length: 8223, dtype: bool

In [52]:
df[isTime]

Empty DataFrame
Columns: [Date, Time, PIB rel, PIB pos, PIB count, Channel, Film Code, Prog Campaign, A 25-69 HHI3500+ (Skoda), A 16-49 (Others), A 16-59 (Others)]
Index: []

In [53]:
df.Time

0       17:26:00
1       18:42:00
2       18:43:00
3       18:44:00
4       18:57:00
          ...
8218    21:48:00
8219    18:20:00
8220    17:27:00
8221    19:26:00
8222    21:35:00
Name: Time, Length: 8223, dtype: object

In [55]:
def isTime(row):
    vtime = row['Time']
    return True if isinstance(vtime, time) else False

In [56]:
df['IsTime'] = df.apply(isTime, axis=1)

In [57]:
df

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True

In [58]:
df.IsTime == False

0       False
1       False
2       False
3       False
4       False
        ...
8218    False
8219    False
8220    False
8221    False
8222    False
Name: IsTime, Length: 8223, dtype: bool

In [59]:
df[df.IsTime == False]

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime
189,2020-09-12,1900-01-01 01:16:00,Middle,11,15,4FUN DANCE,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False
227,2020-09-03,1900-01-01 00:29:00,Middle,10,20,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False
228,2020-09-03,1900-01-01 01:27:00,Middle,8,19,4FUN KIDS,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.01,0.01,False
292,2020-09-10,1900-01-01 00:26:00,Middle,4,19,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False
364,2020-09-15,1900-01-01 01:51:00,Middle,15,18,Ale Kino+,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False
...,...,...,...,...,...,...,...,...,...,...,...,...
7910,2020-09-10,1900-01-01 01:35:00,Middle,3,13,TVN24 Biznes i Swiat,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.01,0.01,False
7926,2020-09-17,1900-01-01 01:31:00,Middle,4,17,TVN24 Biznes i Swiat,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False
8118,2020-09-19,1900-01-01 01:25:00,Middle,15,17,WP,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False
8134,2020-09-02,1900-01-01 00:21:00,Middle,9,16,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.05,0.00,0.02,False
8156,2020-09-04,1900-01-01 01:47:00,Middle,4,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.06,0.05,0.04,False

In [63]:
datetime.now() + timedelta(days=1)

datetime.datetime(2021, 12, 16, 14, 39, 29, 230389)

In [64]:
tdf = df.copy()

In [65]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True

In [79]:
tdf[tdf.IsTime is False] = tdf.Date + timedelta(days=1)

In [70]:
tdf.Date = pd.to_datetime(tdf.Date)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   category
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   category
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   category
 7   Prog Campaign             8223 non-null   category
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
 11  IsTime                    8223 non-null   bool
dtypes: bool(1), category(5), float64(3), int64(2), object(1)
memory usage: 439.9+ KB

In [76]:
tdf.Date = tdf.Date.astype('datetime64[ns]')

In [77]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   datetime64[ns]
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   category
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   category
 7   Prog Campaign             8223 non-null   category
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
 11  IsTime                    8223 non-null   bool
dtypes: bool(1), category(4), datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 495.4+ KB

In [82]:
tdf[tdf.IsTime == False]

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,False
189,2020-09-12,1900-01-01 01:16:00,Middle,11,15,4FUN DANCE,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-13
227,2020-09-03,1900-01-01 00:29:00,Middle,10,20,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-04
228,2020-09-03,1900-01-01 01:27:00,Middle,8,19,4FUN KIDS,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.01,0.01,False,2020-09-04
292,2020-09-10,1900-01-01 00:26:00,Middle,4,19,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-11
364,2020-09-15,1900-01-01 01:51:00,Middle,15,18,Ale Kino+,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False,2020-09-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,2020-09-10,1900-01-01 01:35:00,Middle,3,13,TVN24 Biznes i Swiat,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.01,0.01,False,2020-09-11
7926,2020-09-17,1900-01-01 01:31:00,Middle,4,17,TVN24 Biznes i Swiat,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False,2020-09-18
8118,2020-09-19,1900-01-01 01:25:00,Middle,15,17,WP,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-20
8134,2020-09-02,1900-01-01 00:21:00,Middle,9,16,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.05,0.00,0.02,False,2020-09-03
8156,2020-09-04,1900-01-01 01:47:00,Middle,4,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.06,0.05,0.04,False,2020-09-05

In [83]:
tdf.head()

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,False
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.0,0.01,True,2020-09-02
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.0,0.01,True,2020-09-02
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.0,0.01,True,2020-09-02
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.0,0.01,True,2020-09-02
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.0,0.01,True,2020-09-02

In [87]:
tdf.columns

Index([                    'Date',                     'Time',
                        'PIB rel',                  'PIB pos',
                      'PIB count',                  'Channel',
                      'Film Code',            'Prog Campaign',
       'A 25-69 HHI3500+ (Skoda)',         'A 16-49 (Others)',
               'A 16-59 (Others)',                   'IsTime',
                            False],
      dtype='object')

In [113]:
def addOneDay(row):
#     print(row['IsTime'])
    if row['IsTime'] == False:
        print(type(row['Date'] + timedelta(days=1)))

In [115]:
tdf = df.copy()

In [116]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True

In [118]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True

In [123]:
tdf['ShiftDate'] = tdf.Date + pd.Timedelta(days=1)

In [122]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8223 entries, 0 to 8222
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      8223 non-null   datetime64[ns]
 1   Time                      8223 non-null   object
 2   PIB rel                   8223 non-null   category
 3   PIB pos                   8223 non-null   int64
 4   PIB count                 8223 non-null   int64
 5   Channel                   8223 non-null   category
 6   Film Code                 8223 non-null   category
 7   Prog Campaign             8223 non-null   category
 8   A 25-69 HHI3500+ (Skoda)  8223 non-null   float64
 9   A 16-49 (Others)          8223 non-null   float64
 10  A 16-59 (Others)          8223 non-null   float64
 11  IsTime                    8223 non-null   bool
dtypes: bool(1), category(4), datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 495.4+ KB

In [121]:
tdf.Date = tdf.Date.astype('datetime64[ns]')

In [124]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,ShiftDate
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True,2020-09-02
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-02
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-02
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-02
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True,2020-09-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True,2020-09-18
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True,2020-09-19
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True,2020-09-20
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True,2020-09-20
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True,2020-09-20

In [125]:
del tdf['ShiftDate']

In [126]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True

In [142]:
def addOneDay(row):
    return row.Date + pd.Timedelta(days=1) if row['IsTime'] == False else row.Date

In [143]:
tdf['ShiftData'] = tdf.apply(addOneDay, axis=1)

In [144]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,ShiftData
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True,2020-09-01
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-01
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-01
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-01
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True,2020-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True,2020-09-17
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True,2020-09-18
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True,2020-09-19
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True,2020-09-19
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True,2020-09-19

In [162]:
tdf[tdf.IsTime == False]

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,ShiftData
189,2020-09-12,1900-01-01 01:16:00,Middle,11,15,4FUN DANCE,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-13
227,2020-09-03,1900-01-01 00:29:00,Middle,10,20,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-04
228,2020-09-03,1900-01-01 01:27:00,Middle,8,19,4FUN KIDS,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.01,0.01,False,2020-09-04
292,2020-09-10,1900-01-01 00:26:00,Middle,4,19,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-11
364,2020-09-15,1900-01-01 01:51:00,Middle,15,18,Ale Kino+,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False,2020-09-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,2020-09-10,1900-01-01 01:35:00,Middle,3,13,TVN24 Biznes i Swiat,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.01,0.01,False,2020-09-11
7926,2020-09-17,1900-01-01 01:31:00,Middle,4,17,TVN24 Biznes i Swiat,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False,2020-09-18
8118,2020-09-19,1900-01-01 01:25:00,Middle,15,17,WP,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-20
8134,2020-09-02,1900-01-01 00:21:00,Middle,9,16,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.05,0.00,0.02,False,2020-09-03
8156,2020-09-04,1900-01-01 01:47:00,Middle,4,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.06,0.05,0.04,False,2020-09-05

In [152]:
tdf.Time = tdf.Time.astype('datetime64')

TypeError: <class 'datetime.time'> is not convertible to datetime

In [167]:
def convetToTime(row):
    if row['IsTime'] == False:
        return row['Time'].time()
    else:
        return row['Time']

In [168]:
tdf['conTime'] = tdf.apply(convetToTime, axis=1)

In [166]:
tdf.loc[8156, 'Time'].time()

datetime.time(1, 47)

In [172]:
tdf[ tdf.IsTime == False]

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,ShiftData,conTime
189,2020-09-12,1900-01-01 01:16:00,Middle,11,15,4FUN DANCE,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-13,01:16:00
227,2020-09-03,1900-01-01 00:29:00,Middle,10,20,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-04,00:29:00
228,2020-09-03,1900-01-01 01:27:00,Middle,8,19,4FUN KIDS,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.01,0.01,False,2020-09-04,01:27:00
292,2020-09-10,1900-01-01 00:26:00,Middle,4,19,4FUN KIDS,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-11,00:26:00
364,2020-09-15,1900-01-01 01:51:00,Middle,15,18,Ale Kino+,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False,2020-09-16,01:51:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7910,2020-09-10,1900-01-01 01:35:00,Middle,3,13,TVN24 Biznes i Swiat,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.01,0.01,False,2020-09-11,01:35:00
7926,2020-09-17,1900-01-01 01:31:00,Middle,4,17,TVN24 Biznes i Swiat,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.00,0.00,0.00,False,2020-09-18,01:31:00
8118,2020-09-19,1900-01-01 01:25:00,Middle,15,17,WP,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.00,False,2020-09-20,01:25:00
8134,2020-09-02,1900-01-01 00:21:00,Middle,9,16,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.05,0.00,0.02,False,2020-09-03,00:21:00
8156,2020-09-04,1900-01-01 01:47:00,Middle,4,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.06,0.05,0.04,False,2020-09-05,01:47:00

In [174]:
conToTime2 = lambda row: row['Time'].time() if row['IsTime'] == False else row['Time']

In [175]:
tdf['conTime2'] = tdf.apply(conToTime2, axis=1)

In [176]:
tdf

,Date,Time,PIB rel,PIB pos,PIB count,Channel,Film Code,Prog Campaign,A 25-69 HHI3500+ (Skoda),A 16-49 (Others),A 16-59 (Others),IsTime,ShiftData,conTime,conTime2
0,2020-09-01,17:26:00,First,1,10,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.00,0.01,True,2020-09-01,17:26:00,17:26:00
1,2020-09-01,18:42:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-01,18:42:00,18:42:00
2,2020-09-01,18:43:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-01,18:43:00,18:43:00
3,2020-09-01,18:44:00,2nd,2,11,13 Ulica,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.07,0.00,0.01,True,2020-09-01,18:44:00,18:44:00
4,2020-09-01,18:57:00,Last,11,11,13 Ulica,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.07,0.00,0.01,True,2020-09-01,18:57:00,18:57:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8218,2020-09-17,21:48:00,2nd last,7,8,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.03,0.07,True,2020-09-17,21:48:00,21:48:00
8219,2020-09-18,18:20:00,Middle,7,9,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.20,0.06,0.15,True,2020-09-18,18:20:00,18:20:00
8220,2020-09-19,17:27:00,Middle,16,19,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.14,0.05,0.07,True,2020-09-19,17:27:00,17:27:00
8221,2020-09-19,19:26:00,Middle,14,17,Zoom TV,Skoda octavia/ niebieskie auto/ kreta droga/ n...,Skoda octavia/ niebieskie auto/ kreta droga/ n...,0.00,0.35,0.28,True,2020-09-19,19:26:00,19:26:00
8222,2020-09-19,21:35:00,Middle,15,17,Zoom TV,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,Skoda octavia/srebrne auto/ kreta droga/ nowa ...,0.33,0.10,0.13,True,2020-09-19,21:35:00,21:35:00