In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
from datetime import datetime, time, timedelta

In [92]:
plan = pd.read_excel("plik kampanii Skoda Octavia.xlsx", sheet_name='PLAN')

In [93]:
plan.head()

,TG: All 25-69 HHI 3500+,Unnamed: 1,Unnamed: 2,Czas Kamapanii: 1.09-20.09,Unnamed: 4,Unnamed: 5,"Spot 15""",Grupy zakupowe: All16-49 (TVP All16:59),Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,2020-09-06 00:00:00,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Stacje:,TVP,TVP tematyki,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6

In [94]:
 plan.columns = plan.iloc[3].values

In [15]:
plan.head()

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Stacje:,TVP,TVP tematyki,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6

In [95]:
 plan.drop(axis='rows', labels=[0, 1, 2, 3], inplace=True)

In [96]:
plan.head()

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6
5,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,7
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,8
7,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,9
8,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,22:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,10

In [97]:
plan = plan[['Data', 'Copy', 'Product', 'Time', 'Ch', 'TV station', 'Programme', 'NrZlecenia']]

In [98]:
#change data type to category
columns = ['Copy', 'Product', 'Ch', 'TV station', 'Programme', 'NrZlecenia']
for column in columns:
    plan[column] = plan[column].astype('category')

In [70]:
plan.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11674 entries, 4 to 11677
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        11674 non-null  object
 1   Copy        11674 non-null  category
 2   Product     10586 non-null  category
 3   Time        11674 non-null  object
 4   Ch          11674 non-null  category
 5   TV station  11674 non-null  category
 6   Programme   11674 non-null  category
 7   NrZlecenia  11674 non-null  category
dtypes: category(6), object(2)
memory usage: 1.9 MB

In [21]:
plan.Time

4        18:35:00
5        20:15:00
6        20:35:00
7        18:15:00
8        22:35:00
           ...
11673    21:30:00
11674    22:30:00
11675    21:39:00
11676    19:09:00
11677    20:04:00
Name: Time, Length: 11674, dtype: object

In [23]:
plan.Data = plan.Data.astype('datetime64[ns]')

In [24]:
plan.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11674 entries, 4 to 11677
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        11674 non-null  datetime64[ns]
 1   Copy        11674 non-null  category
 2   Product     10586 non-null  category
 3   Time        11674 non-null  object
 4   Ch          11674 non-null  category
 5   TV station  11674 non-null  category
 6   Programme   11674 non-null  category
 7   NrZlecenia  11674 non-null  category
dtypes: category(6), datetime64[ns](1), object(1)
memory usage: 1.1 MB

In [75]:
isTime = lambda row: True if isinstance(row["Time"], time) else False
plan["IsTime"] = plan.apply(isTime, axis=1)

C:\Users\user\AppData\Local\Temp/ipykernel_6904/4242556628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plan["IsTime"] = plan.apply(isTime, axis=1)

In [76]:
plan

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia,IsTime
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,18:35:00,4FUN DANCE,Polsat Tem. OgÃ³lny,najwiecej-muzyki-na-impreze,379349/20/H1/JP,True
5,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,20:15:00,4FUN DANCE,Polsat Tem. OgÃ³lny,polo-top,379349/20/H1/JP,True
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,20:35:00,4FUN DANCE,Polsat Tem. OgÃ³lny,polo-top,379349/20/H1/JP,True
7,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,18:15:00,4FUN DANCE,Polsat Tem. OgÃ³lny,najwiecej-muzyki-na-impreze,379349/20/H1/JP,True
8,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,22:35:00,4FUN DANCE,Polsat Tem. OgÃ³lny,najwiecej-muzyki-na-impreze,379349/20/H1/JP,True
...,...,...,...,...,...,...,...,...,...
11673,2020-09-02 00:00:00,15,15 SKODA OCTAVIA LIMO,21:30:00,TVP1,TVP,To byÅ‚ rok! - /13/,2154,True
11674,2020-09-02 00:00:00,15,15 SKODA OCTAVIA KOMBI,22:30:00,TVP1,TVP,To byÅ‚ rok! - /13/,2154,True
11675,2020-09-04 00:00:00,15,15 SKODA OCTAVIA LIMO,21:39:00,TVP1,TVP,2p. PN Liga NarodÃ³w Holandia - Polska,2154,True
11676,2020-09-05 00:00:00,15,15 SKODA OCTAVIA LIMO,19:09:00,TVP1,TVP,Opolska rewia gwiazd cz. 2,2154,True
11677,2020-09-13 00:00:00,15,15 SKODA OCTAVIA KOMBI,20:04:00,TVP1,TVP,Pogoda,2154,True

In [77]:
plan[plan.IsTime==False]

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia,IsTime
2073,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,1900-01-01 05:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2081,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,1900-01-01 00:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2082,2020-09-03 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,1900-01-01 01:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2083,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,1900-01-01 02:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2094,2020-09-05 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,1900-01-01 01:54:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
...,...,...,...,...,...,...,...,...,...
8490,2020-09-07 00:00:00,15,NaN,1900-01-01 05:01:00,Zoom TV,Polsat Tem. OgÃ³lny,Szeptunka s5 odc. 21,380096/20/H1/JP,False
8492,2020-09-08 00:00:00,15,NaN,1900-01-01 02:24:00,Zoom TV,Polsat Tem. OgÃ³lny,I love kabaret s2 odc. 08,380096/20/H1/JP,False
8496,2020-09-10 00:00:00,15,NaN,1900-01-01 05:07:00,Zoom TV,Polsat Tem. OgÃ³lny,Szeptunka s5 odc. 24,380096/20/H1/JP,False
8504,2020-09-12 00:00:00,15,NaN,1900-01-01 03:27:00,Zoom TV,Polsat Tem. OgÃ³lny,Ambassada,380096/20/H1/JP,False
8505,2020-09-12 00:00:00,15,NaN,1900-01-01 05:00:00,Zoom TV,Polsat Tem. OgÃ³lny,Szeptunka s5 odc. 26,380096/20/H1/JP,False

In [85]:
addOneDay = (
            lambda row: row.Data + pd.Timedelta(days=1)
            if row["IsTime"] is False
            else row.Data
        )

In [86]:
plan["Data"] = plan.apply(addOneDay, axis=1)

C:\Users\user\AppData\Local\Temp/ipykernel_6904/2563131347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plan["Data"] = plan.apply(addOneDay, axis=1)

In [58]:
plan[plan.IsTime==True]

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia,IsTime
4,2020-09-01,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,18:35:00,4FUN DANCE,Polsat Tem. OgÃ³lny,najwiecej-muzyki-na-impreze,379349/20/H1/JP,True
5,2020-09-01,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,20:15:00,4FUN DANCE,Polsat Tem. OgÃ³lny,polo-top,379349/20/H1/JP,True
6,2020-09-01,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,20:35:00,4FUN DANCE,Polsat Tem. OgÃ³lny,polo-top,379349/20/H1/JP,True
7,2020-09-02,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,18:15:00,4FUN DANCE,Polsat Tem. OgÃ³lny,najwiecej-muzyki-na-impreze,379349/20/H1/JP,True
8,2020-09-02,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,22:35:00,4FUN DANCE,Polsat Tem. OgÃ³lny,najwiecej-muzyki-na-impreze,379349/20/H1/JP,True
...,...,...,...,...,...,...,...,...,...
11673,2020-09-02,15,15 SKODA OCTAVIA LIMO,21:30:00,TVP1,TVP,To byÅ‚ rok! - /13/,2154,True
11674,2020-09-02,15,15 SKODA OCTAVIA KOMBI,22:30:00,TVP1,TVP,To byÅ‚ rok! - /13/,2154,True
11675,2020-09-04,15,15 SKODA OCTAVIA LIMO,21:39:00,TVP1,TVP,2p. PN Liga NarodÃ³w Holandia - Polska,2154,True
11676,2020-09-05,15,15 SKODA OCTAVIA LIMO,19:09:00,TVP1,TVP,Opolska rewia gwiazd cz. 2,2154,True
11677,2020-09-13,15,15 SKODA OCTAVIA KOMBI,20:04:00,TVP1,TVP,Pogoda,2154,True

In [82]:
 conToTime = (
            lambda row: row["Time"].time() if row["IsTime"] is False else row["Time"]
        )
plan["Time"] = plan.apply(conToTime, axis=1)

C:\Users\user\AppData\Local\Temp/ipykernel_6904/4293736626.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plan["Time"] = plan.apply(conToTime, axis=1)

In [83]:
plan.loc[2073, 'Time']

datetime.time(5, 26)

In [84]:
type(plan.loc[4, 'Time'])

datetime.time

In [66]:
isinstance(plan.loc[2073, 'Time'], time)

False

In [88]:
plan[plan.IsTime == False]

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia,IsTime
2073,2020-09-02,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,05:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2081,2020-09-04,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,00:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2082,2020-09-04,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,01:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2083,2020-09-04,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,02:26:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
2094,2020-09-06,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,01:54:00,4FUN KIDS,Polsat Tem. OgÃ³lny,karaoke,379939/20/H1/JP,False
...,...,...,...,...,...,...,...,...,...
8490,2020-09-08,15,NaN,05:01:00,Zoom TV,Polsat Tem. OgÃ³lny,Szeptunka s5 odc. 21,380096/20/H1/JP,False
8492,2020-09-09,15,NaN,02:24:00,Zoom TV,Polsat Tem. OgÃ³lny,I love kabaret s2 odc. 08,380096/20/H1/JP,False
8496,2020-09-11,15,NaN,05:07:00,Zoom TV,Polsat Tem. OgÃ³lny,Szeptunka s5 odc. 24,380096/20/H1/JP,False
8504,2020-09-13,15,NaN,03:27:00,Zoom TV,Polsat Tem. OgÃ³lny,Ambassada,380096/20/H1/JP,False
8505,2020-09-13,15,NaN,05:00:00,Zoom TV,Polsat Tem. OgÃ³lny,Szeptunka s5 odc. 26,380096/20/H1/JP,False

In [89]:
plan.sort_values('Ch', 'Data', 'Time')

C:\Users\user\AppData\Local\Temp/ipykernel_6904/1515846656.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_values except for the argument 'by' will be keyword-only
  plan.sort_values('Ch', 'Data', 'Time')

ValueError: No axis named Data for object type DataFrame

In [90]:
plan.columns

Index(['Data', 'Copy', 'Product', 'Time', 'Ch', 'TV station', 'Programme',
       'NrZlecenia', 'IsTime'],
      dtype='object')

In [91]:
plan.sort_values(['Ch', 'Data', 'Time'])

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia,IsTime
4714,2020-09-01,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,17:26:50,13 Ulica,Polsat Tem.pakiet 10 stacji,ALARM FUR COBRA (2),380370/20/H1/JP,True
9966,2020-09-01,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,17:26:50,13 Ulica,Polsat Tem.pakiet 10 stacji,ALARM FUR COBRA (2),380370/20/H1/JP,True
4715,2020-09-01,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,18:41:22,13 Ulica,Polsat Tem.pakiet 10 stacji,COLD CASE (1),380370/20/H1/JP,True
9967,2020-09-01,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,18:41:22,13 Ulica,Polsat Tem.pakiet 10 stacji,COLD CASE (1),380370/20/H1/JP,True
4716,2020-09-01,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,18:53:22,13 Ulica,Polsat Tem.pakiet 10 stacji,COLD CASE (1),380370/20/H1/JP,True
...,...,...,...,...,...,...,...,...,...
10583,2020-09-19,15,NaN,21:30:00,Zoom TV,Polsat Tem.pakiet 10 stacji,Skok,380381/20/H1/JP,True
10685,2020-09-02,15,Skoda octavia limo,21:32:00,nSport,TVN MeÅ¼czyzna Premium,EWINNER I LIGA ZUZLOWA 2020 | /1,200924242,True
11071,2020-09-02,15,Skoda octavia limo,21:32:00,nSport,TVN MeÅ¼czyzna Premium,EWINNER I LIGA ZUZLOWA 2020 | /1,200924242,True
10911,2020-09-05,15,Skoda octavia limo,01:10:00,nSport,TVN MeÅ¼czyzna Premium,1 NA 1 EXTRA 2019 | 1 NA 1 EXT /1,200924242,True
11297,2020-09-05,15,Skoda octavia limo,01:10:00,nSport,TVN MeÅ¼czyzna Premium,1 NA 1 EXTRA 2019 | 1 NA 1 EXT /1,200924242,True