In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
incidents = pd.read_csv('Canadian Railway Crossing Incidents.csv')

In [3]:
incidents.head(10)

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0
5,Nova Scotia,Serious injuries,0,0,0,0
6,New Brunswick,Accidents,0,0,0,0
7,New Brunswick,Fatalities,0,0,0,0
8,New Brunswick,Serious injuries,0,0,0,0
9,Quebec,Accidents,4,0,1,0

In [4]:
incidents.set_index("Region").head()

,EventType,Public automated,Public passive,Private,Farm
Region,,,,,
Newfoundland,Accidents,0,0,0,0
Newfoundland,Fatalities,0,0,0,0
Newfoundland,Serious injuries,0,0,0,0
Nova Scotia,Accidents,1,0,0,0
Nova Scotia,Fatalities,0,0,0,0

In [5]:
incidents.set_index(['Region', 'EventType'])

                                        Public automated  Public passive  \
Region                EventType
Newfoundland          Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Nova Scotia           Accidents                        1               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
New Brunswick         Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Quebec                Accidents                        4               0
                      Fatalities                       1               0
                      Serious injuries                 0               0
Ontario               Accidents                        7               0
                      Fatalities                       1               0
                      Serious injuries                 1               0
Manitoba              Accidents                        1               3
                      Fatalities                       0               1
                      Serious injuries                 0               0
Saskatchewan          Accidents                        1               3
                      Fatalities                       0               0
                      Serious injuries                 0               0
Alberta               Accidents                        3               7
                      Fatalities                       0               0
                      Serious injuries                 0               1
British Columbia      Accidents                        4               1
                      Fatalities                       0               0
                      Serious injuries                 3               0
Northwest Territories Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0

                                        Private  Farm
Region                EventType
Newfoundland          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Nova Scotia           Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
New Brunswick         Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Quebec                Accidents               1     0
                      Fatalities              0     0
                      Serious injuries        0     0
Ontario               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        0     0
Manitoba              Accidents               0     2
                      Fatalities              0     0
                      Serious injuries        0     1
Saskatchewan          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Alberta               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        2     0
British Columbia      Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Northwest Territories Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0

In [6]:
incidents.set_index(keys=['EventType', 'Region'], inplace=True)

In [7]:
incidents

,,Public automated,Public passive,Private,Farm
EventType,Region,,,,
Accidents,Newfoundland,0,0,0,0
Fatalities,Newfoundland,0,0,0,0
Serious injuries,Newfoundland,0,0,0,0
Accidents,Nova Scotia,1,0,0,0
Fatalities,Nova Scotia,0,0,0,0
Serious injuries,Nova Scotia,0,0,0,0
Accidents,New Brunswick,0,0,0,0
Fatalities,New Brunswick,0,0,0,0
Serious injuries,New Brunswick,0,0,0,0
Accidents,Quebec,4,0,1,0
Fatalities,Quebec,1,0,0,0
Serious injuries,Quebec,0,0,0,0
Accidents,Ontario,7,0,2,0
Fatalities,Ontario,1,0,0,0
Serious injuries,Ontario,1,0,0,0
Accidents,Manitoba,1,3,0,2
Fatalities,Manitoba,0,1,0,0
Serious injuries,Manitoba,0,0,0,1
Accidents,Saskatchewan,1,3,0,0
Fatalities,Saskatchewan,0,0,0,0
Serious injuries,Saskatchewan,0,0,0,0
Accidents,Alberta,3,7,2,0
Fatalities,Alberta,0,0,0,0
Serious injuries,Alberta,0,1,2,0
Accidents,British Columbia,4,1,0,0
Fatalities,British Columbia,0,0,0,0
Serious injuries,British Columbia,3,0,0,0
Accidents,Northwest Territories,0,0,0,0
Fatalities,Northwest Territories,0,0,0,0
Serious injuries,Northwest Territories,0,0,0,0

In [8]:
incidents.sort_index(inplace=True)

In [9]:
incidents.head()

                            Public automated  Public passive  Private  Farm
EventType Region
Accidents Alberta                          3               7        2     0
          British Columbia                 4               1        0     0
          Manitoba                         1               3        0     2
          New Brunswick                    0               0        0     0
          Newfoundland                     0               0        0     0

In [10]:
incidents.sort_index(ascending=[True, False], inplace=True)

In [11]:
incidents.head()

                                 Public automated  Public passive  Private  \
EventType Region
Accidents Saskatchewan                          1               3        0
          Quebec                                4               0        1
          Ontario                               7               0        2
          Nova Scotia                           1               0        0
          Northwest Territories                 0               0        0

                                 Farm
EventType Region
Accidents Saskatchewan              0
          Quebec                    0
          Ontario                   0
          Nova Scotia               0
          Northwest Territories     0

In [12]:
air = pd.read_csv("Air_Traffic_Passenger_Statistics.csv")

In [13]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [14]:
air.set_index(['Activity Period', 'Operating Airline'], inplace=True)

In [15]:
air.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [18]:
air.reset_index(inplace=True)

In [19]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [20]:
air.set_index(["Activity Period","Operating Airline"], inplace=True)

In [21]:
air.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [23]:
air.sort_index(ascending=[False, True], inplace=True)

In [24]:
air.head(10)

                                                         Operating Airline IATA Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                Aer Lingus                                                        EI
                Aer Lingus                                                        EI
                Aeromexico                                                        AM
                Aeromexico                                                        AM
                Air Canada                                                        AC
                Air Canada                                                        AC
                Air China                                                         CA
                Air China                                                         CA

                                                                                 Published Airline  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet  ABC Aerolineas S.A. de C.V. dba Interjet
                ABC Aerolineas S.A. de C.V. dba Interjet  ABC Aerolineas S.A. de C.V. dba Interjet
                Aer Lingus                                                              Aer Lingus
                Aer Lingus                                                              Aer Lingus
                Aeromexico                                                              Aeromexico
                Aeromexico                                                              Aeromexico
                Air Canada                                                              Air Canada
                Air Canada                                                              Air Canada
                Air China                                                                Air China
                Air China                                                                Air China

                                                         Published Airline IATA Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                ABC Aerolineas S.A. de C.V. dba Interjet                          4O
                Aer Lingus                                                        EI
                Aer Lingus                                                        EI
                Aeromexico                                                        AM
                Aeromexico                                                        AM
                Air Canada                                                        AC
                Air Canada                                                        AC
                Air China                                                         CA
                Air China                                                         CA

                                                            GEO Summary  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet  International
                ABC Aerolineas S.A. de C.V. dba Interjet  International
                Aer Lingus                                International
                Aer Lingus                                International
                Aeromexico                                International
                Aeromexico                                International
                Air Canada                                International
                Air Canada                                International
                Air China                                 International
                Air China                                 International

                                                         GEO Region  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet     Mexico
                ABC Aerolineas S.A. de C.V. dba Interjet     Mexico
                Aer Lingus                                   Europe
                Aer Lingus                                   Europe
                Aeromexico                                   Mexico
                Aeromexico                                   Mexico
                Air Canada                                   Canada
                Air Canada                                   Canada
                Air China                                      Asia
                Air China                                      Asia

                                                         Activity Type Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet           Deplaned
                ABC Aerolineas S.A. de C.V. dba Interjet           Enplaned
                Aer Lingus                                         Deplaned
                Aer Lingus                                         Enplaned
                Aeromexico                                         Deplaned
                Aeromexico                                         Enplaned
                Air Canada                                         Deplaned
                Air Canada                                         Enplaned
                Air China                                          Deplaned
                Air China                                          Enplaned

                                                         Price Category Code  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet               Other
                ABC Aerolineas S.A. de C.V. dba Interjet               Other
                Aer Lingus                                             Other
                Aer Lingus                                             Other
                Aeromexico                                             Other
                Aeromexico                                             Other
                Air Canada                                             Other
                Air Canada                                             Other
                Air China                                              Other
                Air China                                              Other

                                                               Terminal  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet  International
                ABC Aerolineas S.A. de C.V. dba Interjet  International
                Aer Lingus                                International
                Aer Lingus                                International
                Aeromexico                                International
                Aeromexico                                International
                Air Canada                                International
                Air Canada                                International
                Air China                                 International
                Air China                                 International

                                                         Boarding Area  \
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet             A
                ABC Aerolineas S.A. de C.V. dba Interjet             A
                Aer Lingus                                           G
                Aer Lingus                                           G
                Aeromexico                                           A
                Aeromexico                                           A
                Air Canada                                           G
                Air Canada                                           G
                Air China                                            G
                Air China                                            G

                                                          Passenger Count
Activity Period Operating Airline
201803          ABC Aerolineas S.A. de C.V. dba Interjet             1090
                ABC Aerolineas S.A. de C.V. dba Interjet             1212
                Aer Lingus                                           7165
                Aer Lingus                                           6992
                Aeromexico                                          12334
                Aeromexico                                          12125
                Air Canada                                          36266
                Air Canada                                          38934
                Air China                                            9154
                Air China                                            9577

In [25]:
air.reset_index(inplace=True)

In [27]:
air.set_index(["Activity Period","Operating Airline","Activity Type Code"], inplace=True)

In [28]:
air.head(10)

                                                                            Operating Airline IATA Code  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                                    4O
                                                         Enplaned                                    4O
                Aer Lingus                               Deplaned                                    EI
                                                         Enplaned                                    EI
                Aeromexico                               Deplaned                                    AM
                                                         Enplaned                                    AM
                Air Canada                               Deplaned                                    AC
                                                         Enplaned                                    AC
                Air China                                Deplaned                                    CA
                                                         Enplaned                                    CA

                                                                                                    Published Airline  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                Aer Lingus                               Deplaned                                          Aer Lingus
                                                         Enplaned                                          Aer Lingus
                Aeromexico                               Deplaned                                          Aeromexico
                                                         Enplaned                                          Aeromexico
                Air Canada                               Deplaned                                          Air Canada
                                                         Enplaned                                          Air Canada
                Air China                                Deplaned                                           Air China
                                                         Enplaned                                           Air China

                                                                            Published Airline IATA Code  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                                    4O
                                                         Enplaned                                    4O
                Aer Lingus                               Deplaned                                    EI
                                                         Enplaned                                    EI
                Aeromexico                               Deplaned                                    AM
                                                         Enplaned                                    AM
                Air Canada                               Deplaned                                    AC
                                                         Enplaned                                    AC
                Air China                                Deplaned                                    CA
                                                         Enplaned                                    CA

                                                                               GEO Summary  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned            International
                                                         Enplaned            International
                Aer Lingus                               Deplaned            International
                                                         Enplaned            International
                Aeromexico                               Deplaned            International
                                                         Enplaned            International
                Air Canada                               Deplaned            International
                                                         Enplaned            International
                Air China                                Deplaned            International
                                                         Enplaned            International

                                                                            GEO Region  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned               Mexico
                                                         Enplaned               Mexico
                Aer Lingus                               Deplaned               Europe
                                                         Enplaned               Europe
                Aeromexico                               Deplaned               Mexico
                                                         Enplaned               Mexico
                Air Canada                               Deplaned               Canada
                                                         Enplaned               Canada
                Air China                                Deplaned                 Asia
                                                         Enplaned                 Asia

                                                                            Price Category Code  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                         Other
                                                         Enplaned                         Other
                Aer Lingus                               Deplaned                         Other
                                                         Enplaned                         Other
                Aeromexico                               Deplaned                         Other
                                                         Enplaned                         Other
                Air Canada                               Deplaned                         Other
                                                         Enplaned                         Other
                Air China                                Deplaned                         Other
                                                         Enplaned                         Other

                                                                                  Terminal  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned            International
                                                         Enplaned            International
                Aer Lingus                               Deplaned            International
                                                         Enplaned            International
                Aeromexico                               Deplaned            International
                                                         Enplaned            International
                Air Canada                               Deplaned            International
                                                         Enplaned            International
                Air China                                Deplaned            International
                                                         Enplaned            International

                                                                            Boarding Area  \
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                       A
                                                         Enplaned                       A
                Aer Lingus                               Deplaned                       G
                                                         Enplaned                       G
                Aeromexico                               Deplaned                       A
                                                         Enplaned                       A
                Air Canada                               Deplaned                       G
                                                         Enplaned                       G
                Air China                                Deplaned                       G
                                                         Enplaned                       G

                                                                             Passenger Count
Activity Period Operating Airline                        Activity Type Code
201803          ABC Aerolineas S.A. de C.V. dba Interjet Deplaned                       1090
                                                         Enplaned                       1212
                Aer Lingus                               Deplaned                       7165
                                                         Enplaned                       6992
                Aeromexico                               Deplaned                      12334
                                                         Enplaned                      12125
                Air Canada                               Deplaned                      36266
                                                         Enplaned                      38934
                Air China                                Deplaned                       9154
                                                         Enplaned                       9577