In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('mcdonalds.csv')

In [4]:
series = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Calories'], index_col = 'Item', squeeze=True)

In [5]:
frame.Calories

0      300
1      250
2      370
3      450
4      400
      ...
255    510
256    690
257    340
258    810
259    410
Name: Calories, Length: 260, dtype: int64

In [6]:
frame.Calories.mean()

368.2692307692308

In [7]:
frame.Calories.median()

340.0

In [8]:
frame.Calories.max()

1880

In [9]:
frame.Calories.idxmax()

82

In [11]:
frame.Item[82]

'Chicken McNuggets (40 piece)'

In [12]:
frame.loc[242, "Item"]

'Vanilla Shake (Medium)'

In [13]:
frame[['Item', 'Calories', 'TotalFat', 'Sugars']].head()

                               Item  Calories  TotalFat  Sugars
0                      Egg McMuffin       300      13.0       3
1                 Egg White Delight       250       8.0       3
2                  Sausage McMuffin       370      23.0       2
3         Sausage McMuffin with Egg       450      28.0       2
4  Sausage McMuffin with Egg Whites       400      23.0       2

In [14]:
fuel = pd.read_csv("fuel.csv", low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], index_col='Vehicle ID' )

In [15]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [16]:
fuel.Make.head()

Vehicle ID
26587    Alfa Romeo
27705    Alfa Romeo
26561    Alfa Romeo
27681    Alfa Romeo
27550    AM General
Name: Make, dtype: object

In [17]:
fuel.Make.sort_values()

Vehicle ID
1032     AM General
1033     AM General
27550    AM General
28426    AM General
27549    AM General
            ...
29812         smart
30917         smart
29811         smart
31065         smart
25150         smart
Name: Make, Length: 31684, dtype: object

In [19]:
fuel.Make.value_counts().head()

Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: Make, dtype: int64

In [20]:
fuel.loc[1873]

Year                             1986
Make                       Mitsubishi
Model                         Starion
Class                 Subcompact Cars
Fuel Type                     Premium
Combined MPG (FT1)               19.0
Name: 1873, dtype: object

In [22]:
fuel.loc[[1873, 'Combined MPG (FT1)']]

KeyError: "['Combined MPG (FT1)'] not in index"

In [23]:
fuel.columns

Index(['Year', 'Make', 'Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], dtype='object')