In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
frame = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [2]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [4]:
caloriesGreaterEqual400 = frame["Calories"] >= 400

In [5]:
totalFatLessEqual20 = frame.TotalFat <= 20

In [6]:
frame[caloriesGreaterEqual400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [7]:
frame[totalFatLessEqual20].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,20.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0

In [8]:
isBreakfast = frame.Category == 'Breakfast'

In [9]:
isBreakfast.head()

0    True
1    True
2    True
3    True
4    True
Name: Category, dtype: bool

In [10]:
frame[isBreakfast & caloriesGreaterEqual400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [11]:
frame[isBreakfast & caloriesGreaterEqual400 & totalFatLessEqual20].head()

,Category,Item,Serving Size,Calories,TotalFat
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,20.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
39,Breakfast,Cinnamon Melts,4 oz (114 g),460,19.0

In [12]:
frame[~ isBreakfast].head()

,Category,Item,Serving Size,Calories,TotalFat
42,Beef & Pork,Big Mac,7.4 oz (211 g),530,27.0
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520,26.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600,29.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610,31.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540,27.0

In [2]:
color = ['green', 'green', 'blue', 'blue', 'red', 'red', 'white']
size = ['S', 'S', 'S', 'M', 'M', 'M', 'L']
gender = ['M', 'W', 'M', 'W', 'M', 'W', 'U']
clothes = pd.DataFrame({'color': color, 'size': size, 'gender': gender})
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white    L      U

In [25]:
isColorBlue = clothes.color == 'blue'
isColorGren = clothes.color == 'green'
isColorRed = clothes.color == 'red'
isGenderM = clothes.gender == 'M'
isGenderW = clothes.gender == 'W'
isSizeS = clothes['size'] == 'S'
isSizeM = clothes['size'] == 'M'

In [26]:
clothes[isClorBlue & isGenderM & isSizeS]

  color size gender
2  blue    S      M

In [28]:
clothes[isClorBlue | isGenderM | isSizeS]

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M

In [29]:
fortune = pd.read_csv("Fortune_500_2017.csv", usecols=['Rank','Title','Employees','Profits','Assets'], index_col='Rank')
fortune.head()

                   Title  Employees  Profits  Assets
Rank
1                Walmart    2300000  13643.0  198825
2     Berkshire Hathaway     367700  24074.0  620854
3                  Apple     116000  45687.0  321686
4            Exxon Mobil      72700   7840.0  330314
5               McKesson      68000   2258.0   56563

In [30]:
fortune.Employees.rank(ascending=False).head()

Rank
1      1.0
2      7.0
3     57.0
4     94.0
5    104.5
Name: Employees, dtype: float64

In [31]:
fortune['RankByEmployee']=fortune.Employees.rank(ascending=False)

In [32]:
fortune['RankByProfits'] = fortune.Profits.rank(ascending=False)

In [33]:
isEmployeesRankFirst10 = fortune.RankByEmployee <= 10
isProfitRankFirst10 = fortune.RankByProfits <= 10

In [34]:
fortune[isEmployeesRankFirst10 & isProfitRankFirst10]

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0

In [36]:
isEmployeesRankMore400 = fortune.Employees >= 400

In [37]:
fortune[isProfitRankFirst10 & isEmployeesRankMore400]

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0
3,Apple,116000,45687.0,321686,57.0,1.0
21,J.P. Morgan Chase,243355,24733.0,2490972,20.0,2.0
25,Wells Fargo,269100,21938.0,1930115,15.0,4.0
26,Bank of America Corp.,208024,17906.0,2187702,29.0,6.0
27,Alphabet,72053,19478.0,167497,96.0,5.0
28,Microsoft,114000,16798.0,193694,58.5,7.0
30,Citigroup,219000,14912.0,1792077,26.0,9.0
35,Johnson & Johnson,126400,16540.0,141208,51.0,8.0
148,Altria Group,8300,14239.0,45932,424.0,10.0