In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
frame = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [2]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [3]:
has400CalOrMore = frame['Calories'] >= 400

In [4]:
frame.where(has400CalOrMore).head()

,Category,Item,Serving Size,Calories,TotalFat
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [5]:
frame.query('Category == "Desserts"').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [4]:
animals = pd.read_csv('sleep_time.csv', index_col='ID').fillna(value=0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [5]:
herbi = animals.where(animals.vore == 'herbi')
herbi.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00

In [6]:
herbi.count()

name            32
genus           32
vore            32
order           32
conservation    32
sleep_total     32
sleep_rem       32
sleep_cycle     32
awake           32
brainwt         32
bodywt          32
dtype: int64

In [7]:
len(herbi)

83

In [10]:
carni = animals.where(animals.vore == 'carni')
len(carni)

83

In [11]:
len(carni.dropna())

19

In [16]:
omni = animals.where(animals.vore == 'omni')
len(omni)

83

In [17]:
len(omni.dropna())

20

In [18]:
carni.sleep_total.mean()

10.378947368421054

In [19]:
omni.sleep_total.mean()

10.924999999999999

In [20]:
herbi.sleep_total.mean()

9.509375

In [22]:
animals.query('sleep_total > 14')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.00000,3.850
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500
20,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
22,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.3,0.00030,0.023
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.00000,0.071
37,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,0.000000,4.6,0.00000,0.370
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.00000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
43,Little brown bat,Myotis,insecti,Chiroptera,0,19.9,2.0,0.200000,4.1,0.00025,0.010
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,0.0,0.000000,9.4,0.00000,0.266
47,Northern grasshopper mouse,Onychomys,carni,Rodentia,lc,14.5,0.0,0.000000,9.5,0.00000,0.028
51,Tiger,Panthera,carni,Carnivora,en,15.8,0.0,0.000000,8.2,0.00000,162.564
62,Giant armadillo,Priodontes,insecti,Cingulata,en,18.1,6.1,0.000000,5.9,0.08100,60.000
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,0.0,0.000000,7.4,0.00570,0.920
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,0.000000,8.1,0.00000,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,0,15.8,0.0,0.000000,8.2,0.00000,0.112
78,Tenrec,Tenrec,omni,Afrosoricida,0,15.6,2.3,0.000000,8.4,0.00260,0.900

In [25]:
animals.query('sleep_total > 14 and vore == "herbi" and bodywt > 1')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0,3.85