In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
frame = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [3]:
color = ['green', 'green', 'blue', 'blue', 'red', 'red', 'white']
size = ['S', 'S', 'S', 'M', 'M', 'M', 'L']
gender = ['M', 'W', 'M', 'W', 'M', 'W', 'U']
clothes = pd.DataFrame({'color': color, 'size': size, 'gender': gender})
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6  white    L      U

In [5]:
clothes.color.is_unique

False

In [6]:
clothes.color.unique()

array(['green', 'blue', 'red', 'white'], dtype=object)

In [7]:
clothes.color.nunique()

4

In [9]:
clothes.loc[6, 'color'] = np.NaN
clothes

   color size gender
0  green    S      M
1  green    S      W
2   blue    S      M
3   blue    M      W
4    red    M      M
5    red    M      W
6    NaN    L      U

In [10]:
clothes.color.unique()

array(['green', 'blue', 'red', nan], dtype=object)

In [11]:
clothes.color.nunique()

3

In [13]:
len(clothes.color.unique())

4

In [14]:
clothes.color.duplicated(keep='first')

0    False
1     True
2    False
3     True
4    False
5     True
6    False
Name: color, dtype: bool

In [15]:
clothes.color.duplicated(keep='last')

0     True
1    False
2     True
3    False
4     True
5    False
6    False
Name: color, dtype: bool

In [16]:
clothes.color.duplicated(keep=False)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: color, dtype: bool

In [18]:
uniqueValues = clothes['color'].duplicated(keep='first')
clothes[uniqueValues]

   color size gender
1  green    S      W
3   blue    M      W
5    red    M      W

In [19]:
clothes.drop_duplicates(subset=['color'], keep='first')

   color size gender
0  green    S      M
2   blue    S      M
4    red    M      M
6    NaN    L      U

In [20]:
clothes.drop_duplicates(subset=['color', 'size'])

   color size gender
0  green    S      M
2   blue    S      M
3   blue    M      W
4    red    M      M
6    NaN    L      U