In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('mammals.csv')
frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [3]:
frame.columns

Index(['name', 'body', 'brain'], dtype='object')

In [4]:
frame.columns = ['name', 'bodyKg', 'brainKg']

In [5]:
frame

               name   bodyKg  brainKg
0        Arctic fox    3.385     44.5
1        Owl monkey    0.480     15.5
2   Mountain beaver    1.350      8.1
3               Cow  465.000    423.0
4         Grey wolf   36.330    119.5
..              ...      ...      ...
57  Brazilian tapir  160.000    169.0
58           Tenrec    0.900      2.6
59        Phalanger    1.620     11.4
60       Tree shrew    0.104      2.5
61          Red fox    4.235     50.4

[62 rows x 3 columns]

In [6]:
newColumnNames = {'bodyKg': 'body_kg', 'brainKg': 'brain_kg'}
frame.rename(columns=newColumnNames, inplace=True)

In [7]:
frame.head()

              name  body_kg  brain_kg
0       Arctic fox    3.385      44.5
1       Owl monkey    0.480      15.5
2  Mountain beaver    1.350       8.1
3              Cow  465.000     423.0
4        Grey wolf   36.330     119.5