In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
from datetime import datetime
from datetime import timedelta
import time

In [2]:
products = pd.read_csv('products.csv', usecols=['ProductID', 'ProductName'] )

In [3]:
products

    ProductID                      ProductName
0           1                             Chai
1           2                            Chang
2           3                    Aniseed Syrup
3           4     Chef Anton's Cajun Seasoning
4           5           Chef Anton's Gumbo Mix
..        ...                              ...
72         73                       Röd Kaviar
73         74                    Longlife Tofu
74         75             Rhönbräu Klosterbier
75         76                     Lakkalikööri
76         77  Original Frankfurter grüne Soße

[77 rows x 2 columns]

In [4]:
orderProducts = pd.read_csv('order-details_del.csv', usecols= ['OrderID', 'ProductID', 'UnitPrice', 'Quantity'])

In [5]:
orderProducts

     OrderID  ProductID  UnitPrice  Quantity
0      10331         54        5.9        15
1      10332         18       50.0        40
2      10332         42       11.2        10
3      10332         47        7.6        16
4      10333         14       18.6        10
..       ...        ...        ...       ...
284    10439         64       26.6         6
285    10439         74        8.0        30
286    10440          2       15.2        45
287    10440         16       13.9        49
288    10440         29       99.0        24

[289 rows x 4 columns]

In [7]:
merged =products.merge(right=orderProducts, on="ProductID", how='left', indicator=True)

In [8]:
merged['_merge'].value_counts()

both          289
left_only       5
right_only      0
Name: _merge, dtype: int64

In [10]:
suppliers = pd.read_csv('suppliers.csv', usecols=['SupplierID', 'CompanyName', 'City'])

In [12]:
products = pd.read_csv('products_del_2.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])

In [14]:
sup_prod = suppliers.merge(right=products, on='SupplierID', how='inner', indicator=True)

In [15]:
len(suppliers)

29

In [16]:
len(products)

68

In [17]:
len(sup_prod)

68