In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [2]:
bar = pd.read_csv('weather_barcelona.csv', index_col='Date')
rom = pd.read_csv('weather_rome.csv', index_col='Date')
ams = pd.read_csv('weather_amsterdam.csv', index_col='Date')
temp_max = pd.DataFrame(index=  bar.index)

In [3]:
temp_max['Barcelona'] = bar['TempMax']
temp_max['Rome'] = rom['TempMax']
temp_max['Amsterdam'] = ams['TempMax']
temp_max.head()

            Barcelona  Rome  Amsterdam
Date
2018-01-01         17    14          8
2018-01-02         19    13          9
2018-01-03         23    14         11
2018-01-04         24    16         11
2018-01-05         20    17          8

In [4]:
def GradeDay(row):
    if(row['TempMax'] >= row['AvgTempMax']):
        return 'PLUS'
    else:
        return 'MINUS'

In [5]:
rom['GradeDay'] = rom.apply(GradeDay, axis=1)
bar['GradeDay'] = bar.apply(GradeDay, axis=1)
ams['GradeDay'] = ams.apply(GradeDay, axis=1)

In [6]:
rom.head()

            TempMax  TempMin Rain  AvgTempMax  AvgTempMin GradeDay
Date
2018-01-01       14        8   0           12           4     PLUS
2018-01-02       13        7   0           12           4     PLUS
2018-01-03       14        1   0           12           4     PLUS
2018-01-04       16        6   0           12           4     PLUS
2018-01-05       17        7   0           12           3     PLUS