In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
index = ['a', 'b', 'c', 'd', 'e', 'e']
values = ['Austri', 'Belgium', 'Canda', 'Denmark', 'England', 'Estonia']

In [3]:
s = pd.Series(values, index)
s

a     Austri
b    Belgium
c      Canda
d    Denmark
e    England
e    Estonia
dtype: object

In [4]:
countries = pd.read_csv('countires.csv', usecols=['country', 'name'], index_col='country', squeeze=True)
countries.head(20)

country
AD                   Andorra
AE      United Arab Emirates
AF               Afghanistan
AG       Antigua and Barbuda
AI                  Anguilla
AL                   Albania
AM                   Armenia
AN      Netherlands Antilles
AO                    Angola
AQ                Antarctica
AR                 Argentina
AS            American Samoa
AT                   Austria
AU                 Australia
AW                     Aruba
AZ                Azerbaijan
BA    Bosnia and Herzegovina
BB                  Barbados
BD                Bangladesh
BE                   Belgium
Name: name, dtype: object

In [5]:
countries.loc['FR']

'France'

In [7]:
countries.iloc[13]

'Australia'

In [8]:
nordic = ['FI', 'SE', 'NO']

In [9]:
countries.loc[nordic]

country
FI    Finland
SE     Sweden
NO     Norway
Name: name, dtype: object

In [10]:
countries[nordic]

country
FI    Finland
SE     Sweden
NO     Norway
Name: name, dtype: object

In [11]:
countries[1]

'United Arab Emirates'