In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('insurance.csv')
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [3]:
frame.loc[2, 'Claims']

20

In [4]:
frame.loc[2, 'Claims'] = 19

In [5]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      19
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [6]:
frame['Age'] == '<25'

0      True
1     False
2     False
3     False
4      True
      ...
59    False
60     True
61    False
62    False
63    False
Name: Age, Length: 64, dtype: bool

In [7]:
isYounger25 = frame['Age'] == '<25'

In [9]:
frame.where(isYounger25).dropna().head()

      ID  District   Group  Age  Holders  Claims
0    1.0       1.0     <1l  <25    197.0    38.0
4    5.0       1.0  1-1.5l  <25    284.0    63.0
8    9.0       1.0  1.5-2l  <25    133.0    19.0
12  13.0       1.0     >2l  <25     24.0     4.0
16  17.0       2.0     <1l  <25     85.0    22.0

In [10]:
frame[isYounger25].head()

    ID  District   Group  Age  Holders  Claims
0    1         1     <1l  <25      197      38
4    5         1  1-1.5l  <25      284      63
8    9         1  1.5-2l  <25      133      19
12  13         1     >2l  <25       24       4
16  17         2     <1l  <25       85      22

In [11]:
frame.loc[isYounger25, 'Holders'].head()

0     197
4     284
8     133
12     24
16     85
Name: Holders, dtype: int64

In [12]:
frame.loc[isYounger25, 'Holders'] + 100

0     297
4     384
8     233
12    124
16    185
20    249
24    166
28    109
32    135
36    153
40    124
44    107
48    120
52    131
56    118
60    103
Name: Holders, dtype: int64

In [13]:
frame.loc[isYounger25, 'Holders'] = frame.loc[isYounger25, 'Holders'] + 100

In [14]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      19
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      384      63

In [15]:
frame.loc[isYounger25, 'Holders'] += 1000

In [16]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25     1297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      19
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25     1384      63