In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('PublicTransitExpenses.csv', low_memory=False)

In [3]:
frame.head()

,5 digit NTD ID,4 digit NTD ID,Agency,Reporter Type,Subrecipient Type,Organization Type,2015 Total Mode Vehicles (VOMS),Mode,Type of Service,Primary UZA Code,...,Casualty and Liability Costs,Taxes,PT Funds In Report,PT Funds Reported Separately,Miscellaneous Expenses,Reduced Reporter Total OE,Total Operating Expenses,Total Operating Expenses (No Funds Reported Separately),ADA Related Expenses,Location 1
0,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,DR,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$122524.00,$122524.00,$122524.00,$0.00,NaN
1,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,MB,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$272715.00,$272715.00,$272715.00,$0.00,NaN
2,60107,6107,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,CB,PT,NaN,...,NaN,NaN,$3398.00,NaN,NaN,NaN,$7295.00,$7295.00,NaN,NaN
3,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,DR,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$37416.00,$37416.00,$37416.00,NaN,"Usk, WA\n"
4,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,MB,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$345789.00,$345789.00,$345789.00,NaN,"Usk, WA\n"

In [4]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 39 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   5 digit NTD ID                                           17844 non-null  object
 1   4 digit NTD ID                                           17719 non-null  object
 2   Agency                                                   17844 non-null  object
 3   Reporter Type                                            17844 non-null  object
 4   Subrecipient Type                                        3072 non-null   object
 5   Organization Type                                        17759 non-null  object
 6   2015 Total Mode Vehicles (VOMS)                          17522 non-null  float64
 7   Mode                                                     17844 non-null  object
 8   Type of Service                                          17840 non-null  object
 9   Primary UZA Code                                         17712 non-null  float64
 10  Primary UZA Name                                         17705 non-null  object
 11  Primary  UZA Area SQ Miles                               14370 non-null  float64
 12  Primary  UZA Population                                  14370 non-null  float64
 13  Service Area SQ Miles                                    14414 non-null  float64
 14  Service Area Population                                  14418 non-null  float64
 15  Year                                                     17844 non-null  int64
 16  Vehicles Operated at Maximum Service (VOMS)              17836 non-null  float64
 17  Vehicles Available for Maximum Service (VAMS)            13887 non-null  float64
 18  Rail (Y/N)                                               17318 non-null  object
 19  Fixed Route (Y/N)                                        17318 non-null  object
 20  Expense Function                                         17844 non-null  object
 21  Operators' Salaries and Wages                            4920 non-null   object
 22  Other Salaries and Wages                                 10348 non-null  object
 23  Fringe Benefits                                          10425 non-null  object
 24  Service Costs                                            10262 non-null  object
 25  Fuel and Lubricants                                      6515 non-null   object
 26  Tires and Tubes                                          5615 non-null   object
 27  Other Materials and Supplies                             10230 non-null  object
 28  Utilities                                                5999 non-null   object
 29  Casualty and Liability Costs                             6953 non-null   object
 30  Taxes                                                    4680 non-null   object
 31  PT Funds In Report                                       7592 non-null   object
 32  PT Funds Reported Separately                             3555 non-null   object
 33  Miscellaneous Expenses                                   7837 non-null   object
 34  Reduced Reporter Total OE                                7054 non-null   object
 35  Total Operating Expenses                                 17844 non-null  object
 36  Total Operating Expenses (No Funds Reported Separately)  17844 non-null  object
 37  ADA Related Expenses                                     3187 non-null   object
 38  Location 1                                               17712 non-null  object
dtypes: float64(8), int64(1), object(30)
memory usage: 30.5 MB

In [2]:
fb = pd.read_csv('mrbean_facebook_statuses_with_nulls.csv')
fb.head()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,17774451468_10154154735571469,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,https://youtu.be/fgURU75gTMQ,2016-06-23 11:35:48,16570.0,223.0,338.0,16079,166,6,320,0,0
1,17774451468_10154146584106469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-21 10:00:01,119886.0,2171.0,1657.0,114008,946,104,4795,16,17
2,17774451468_10154135502911469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-19 10:00:01,NaN,2395.0,10050.0,218579,2988,188,13992,52,53
3,17774451468_10154138120151469,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,https://www.youtube.com/watch?v=58Z8J0PbLS8,2016-06-18 11:00:02,20913.0,214.0,257.0,20338,211,20,336,0,8
4,17774451468_10154135502476469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-17 09:00:01,223602.0,880.0,2228.0,215591,2872,259,4814,27,39

In [4]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     object
 3   status_type       56 non-null     object
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     54 non-null     float64
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     float64
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: float64(3), int64(6), object(6)
memory usage: 34.4 KB

In [6]:
fb = pd.read_csv('mrbean_facebook_statuses_with_nulls.csv', usecols=["status_message", "status_type", "link_name",
"num_reactions", "num_shares", "num_likes"])

In [7]:
fb.head()

,status_message,link_name,status_type,num_reactions,num_shares,num_likes
0,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,16570.0,338.0,16079
1,NaN,Timeline Photos,photo,119886.0,1657.0,114008
2,NaN,Timeline Photos,photo,NaN,10050.0,218579
3,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,20913.0,257.0,20338
4,NaN,Timeline Photos,photo,223602.0,2228.0,215591

In [8]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     object
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: float64(2), int64(1), object(3)
memory usage: 16.1 KB

In [9]:
fb.memory_usage()

Index             128
status_message    448
link_name         448
status_type       448
num_reactions     448
num_shares        448
num_likes         448
dtype: int64

In [11]:
128+(448*6)

2816

In [15]:
len(fb)

56

In [16]:
fb.status_type.value_counts()

video    32
photo    22
link      2
Name: status_type, dtype: int64

In [17]:
fb.status_type.unique()

array(['video', 'photo', 'link'], dtype=object)

In [19]:
fb.status_type.is_unique

False

In [20]:
fb.status_type.nunique()

3

In [22]:
fb.status_type =  fb.status_type.astype('category')

In [23]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(1), float64(2), int64(1), object(2)
memory usage: 13.0 KB

In [24]:
fb.link_name.nunique()

32

In [25]:
fb.link_name.value_counts()

Timeline Photos                                                               22
www.youtube.com                                                                4
Mr. Bean - Sneezing and Snoozing In Church                                     1
Mr. Bean - Mystery creature                                                    1
Mr. Bean - Saxophone Player                                                    1
Mr. Bean - Elderly people on stairs                                            1
Rowan Atkinson: I will never wave goodbye to Mr Bean                           1
Mr. Bean's Happy Moments                                                       1
Mr. Bean - At the Disco                                                        1
Mr Bean - Preparing To Go Camping                                              1
Mr. Bean - Shopping for Towels                                                 1
Mr. Bean - Counting Sheep.                                                     1
Mr. Bean - High Dive                                                           1
Mr. Bean (NEW series) - The Lift                                               1
Mr Bean - Country fete games -- Volksfest Spiele                               1
Even in LEGO, Mr. Bean travels in comfort | The Brothers Brick | LEGO Blog     1
Mr. Bean - Making A Sandwich                                                   1
Mr. Bean (NEW series) - Ice Cream                                              1
Mr Bean - Crazy Golf                                                           1
Mr. Bean - Fixing Your Own Teeth                                               1
Mr Bean - Restaurant Etiquette                                                 1
Mr Bean (NEW series) - Litterbugs Clip                                         1
Mr. Bean - Alarm Clock                                                         1
Mr. Bean (NEW Series) - Dancing Bean                                           1
Mr. Bean - Embarrassing Moments Compilation                                    1
Mr. Bean - How to stop a baby from crying                                      1
Mr Bean - Dinner for Two                                                       1
Mr Bean - Chemistry experiment                                                 1
Mr Bean - Sun Block                                                            1
Mr Bean - Ray Of Sunshine                                                      1
Mr Bean - Broken Tooth                                                         1
Mr Bean - Prison Break                                                         1
Name: link_name, dtype: int64

In [26]:
fb.link_name = fb.link_name.astype('category')

In [27]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(2), float64(2), int64(1), object(1)
memory usage: 12.4 KB

In [28]:
fb.num_reactions.fillna(0, inplace=True)

In [29]:
fb.num_shares.fillna(0, inplace=True)

In [30]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   56 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(2), float64(2), int64(1), object(1)
memory usage: 12.4 KB

In [32]:
fb.num_reactions = fb.num_reactions.astype('int')
fb.num_shares=  fb.num_shares.astype('int')
fb.num_likes = fb.num_likes.astype('int')

In [33]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     category
 2   status_type     56 non-null     category
 3   num_reactions   56 non-null     int32
 4   num_shares      56 non-null     int32
 5   num_likes       56 non-null     int32
dtypes: category(2), int32(3), object(1)
memory usage: 11.8 KB

In [34]:
vv = pd.read_csv('vw_fb_20210902-110445.csv')
vv.head()

,id,title,description,availability,condition,price,link,image_link,brand,inventory,...,drivetrain,vin,exterior_color,state_of_vehicle,fuel_type,exterior_color.1,custom_label_1,custom_label_2,custom_label_3,custom_label_4
0,62462,KAMIQ AMBITION Manualna 1.0 TSI 110 KM,Oferta leasingu online,in stock,NEW,90900 PLN,https://sklep.skoda-auto.pl/skoda-kamiq-1-0-ts...,https://sklep.skoda-auto.pl/media/catalog/prod...,ŠKODA,1,...,FWD,TMBGR6NW4M3140836,Biel Moon Metalizowany,NEW,GASOLINE,Biel Moon Metalizowany,839.31 PLN,1.0 TSI 110 KM,"{addr1: 'Toruńska 169', city: 'Włocławek', reg...",### Wyposażenie dodatkowe ### --- Ochrona ...
1,63784,KAMIQ STYLE Automatyczna 1.0 TSI 110 KM,Oferta leasingu online,in stock,NEW,105600 PLN,https://sklep.skoda-auto.pl/skoda-kamiq-1-0-ts...,https://sklep.skoda-auto.pl/media/catalog/prod...,ŠKODA,1,...,FWD,TMBGR6NW5N3016446,Biel Candy Niemetalizowany,NEW,GASOLINE,Biel Candy Niemetalizowany,975.04 PLN,1.0 TSI 110 KM,"{addr1: 'Jadwigi Wajsówny 7-9', city: 'Poznań...",### Wyposażenie dodatkowe ### --- Pakiety ...
2,63309,KAMIQ STYLE Automatyczna 1.0 TSI 110 KM,Oferta leasingu online,in stock,NEW,105600 PLN,https://sklep.skoda-auto.pl/skoda-kamiq-1-0-ts...,https://sklep.skoda-auto.pl/media/catalog/prod...,ŠKODA,1,...,FWD,TMBGR6NWXN3010383,Biel Candy Niemetalizowany,NEW,GASOLINE,Biel Candy Niemetalizowany,975.04 PLN,1.0 TSI 110 KM,"{addr1: 'Unii Lubelskiej 5', city: 'Poznań', r...",### Wyposażenie dodatkowe ### --- Pakiety ...
3,63310,KAMIQ STYLE Automatyczna 1.0 TSI 110 KM,Oferta leasingu online,in stock,NEW,106450 PLN,https://sklep.skoda-auto.pl/skoda-kamiq-1-0-ts...,https://sklep.skoda-auto.pl/media/catalog/prod...,ŠKODA,1,...,FWD,TMBGR6NW0N3010229,Błękit Race Metalizowany,NEW,GASOLINE,Błękit Race Metalizowany,982.89 PLN,1.0 TSI 110 KM,"{addr1: 'Unii Lubelskiej 5', city: 'Poznań', r...",### Wyposażenie dodatkowe ### --- Pakiety ...
4,62987,SUPERB ACTIVE Manualna 1.5 TSI 150 KM,Oferta leasingu online,in stock,NEW,105050 PLN,https://sklep.skoda-auto.pl/skoda-superb-1-5-t...,https://sklep.skoda-auto.pl/media/catalog/prod...,ŠKODA,1,...,FWD,TMBAN7NP3M7073770,Błękit Energy Niemetalizowany,NEW,GASOLINE,Błękit Energy Niemetalizowany,991.99 PLN,1.5 TSI 150 KM,"{addr1: 'Jana Pawła II 127', city: 'Bydgoszcz'...",### Wyposażenie dodatkowe ### --- Koła zap...

In [35]:
vv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       71 non-null     int64
 1   title                    71 non-null     object
 2   description              71 non-null     object
 3   availability             71 non-null     object
 4   condition                71 non-null     object
 5   price                    71 non-null     object
 6   link                     71 non-null     object
 7   image_link               71 non-null     object
 8   brand                    71 non-null     object
 9   inventory                71 non-null     int64
 10  fb_product_category      71 non-null     object
 11  google_product_category  71 non-null     object
 12  model                    71 non-null     object
 13  year                     71 non-null     int64
 14  transmission             71 non-null     object
 15  body_style               71 non-null     object
 16  drivetrain               71 non-null     object
 17  vin                      71 non-null     object
 18  exterior_color           71 non-null     object
 19  state_of_vehicle         71 non-null     object
 20  fuel_type                71 non-null     object
 21  exterior_color.1         71 non-null     object
 22  custom_label_1           71 non-null     object
 23  custom_label_2           71 non-null     object
 24  custom_label_3           71 non-null     object
 25  custom_label_4           71 non-null     object
dtypes: int64(3), object(23)
memory usage: 276.7 KB

In [36]:
len(vv)

71

In [37]:
vv.title.nunique()

18

In [38]:
vv.title = vv.title.astype('category')

In [39]:
vv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       71 non-null     int64
 1   title                    71 non-null     category
 2   description              71 non-null     object
 3   availability             71 non-null     object
 4   condition                71 non-null     object
 5   price                    71 non-null     object
 6   link                     71 non-null     object
 7   image_link               71 non-null     object
 8   brand                    71 non-null     object
 9   inventory                71 non-null     int64
 10  fb_product_category      71 non-null     object
 11  google_product_category  71 non-null     object
 12  model                    71 non-null     object
 13  year                     71 non-null     int64
 14  transmission             71 non-null     object
 15  body_style               71 non-null     object
 16  drivetrain               71 non-null     object
 17  vin                      71 non-null     object
 18  exterior_color           71 non-null     object
 19  state_of_vehicle         71 non-null     object
 20  fuel_type                71 non-null     object
 21  exterior_color.1         71 non-null     object
 22  custom_label_1           71 non-null     object
 23  custom_label_2           71 non-null     object
 24  custom_label_3           71 non-null     object
 25  custom_label_4           71 non-null     object
dtypes: category(1), int64(3), object(22)
memory usage: 271.9 KB

In [40]:
vv.value_counts()

id     title                                                  description             availability  condition  price       link                                                                                                                                               image_link                                                                                                                                              brand  inventory  fb_product_category  google_product_category  model                year  transmission  body_style  drivetrain  vin                exterior_color                  state_of_vehicle  fuel_type  exterior_color.1                custom_label_1  custom_label_2  custom_label_3                                                                                                                           custom_label_4
58304  OCTAVIA COMBI STYLE  Manualna  1.5 TSI 150 KM          Oferta leasingu online  in stock      NEW        117800 PLN  https://sklep.skoda-auto.pl/skoda-octavia-combi-1-5-tsi-110-kw-150-km-6-biegowa-manualna-blekit-race-metalizowany-tmbjr7nxxmy103085.html           https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/f/9/f9bc501182ebdfe5107e72851ae2652e-TMBJR7NXXMY103085-EF.png  ŠKODA  1          inne                 Pojazdy i części         OCTAVIA COMBI        2021  MANUAL        WAGON       FWD         TMBJR7NXXMY103085  Błękit Race Metalizowany        NEW               GASOLINE   Błękit Race Metalizowany        1050.67 PLN     1.5 TSI 150 KM  {addr1: 'Armii Krajowej 46', city: 'Wrocław', region: 'Silesian Voivodeship', postal_code: '50-541', country: 'Poland'}                  ### Wyposażenie dodatkowe ###     --- Ochrona pojazdu ---  - KESSY FULL – bezkluczykowy system obsługi samochodu z alarmem (z funkcją SAFE),  --- Pakiety promocyjne ---  - Pakiet Selection: W skład pakietu promocyjnego wchodzą: ADAPTIVE CRUISE CONTROL - aktywny tempomat do 210 km/h, Pakiet oświetlenia LED AMBIENTE, Elektrycznie sterowana pokrywa bagażnika, Elektryczna blokada otwarcia tylnych drzwi od wewnątrz, Elektrycznie zwalniana półka bagażnika (tylko dla wersji Combi),        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                  1
63322  FABIA COMBI CLASSIC AMBITION  Manualna  1.0 MPI 60 KM  Oferta leasingu online  in stock      NEW        63850 PLN   https://sklep.skoda-auto.pl/skoda-fabia-combi-classic-1-0-mpi-44-kw-60-km-5-biegowa-manualna-srebrny-brillant-metalizowany-tmbja6nj1nz009251.html  https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/7/d/7dbe8cada16b8532383e7353f0e0e6c3-TMBJA6NJ1NZ009251-EF.png  ŠKODA  1          inne                 Pojazdy i części         FABIA COMBI CLASSIC  2021  MANUAL        WAGON       FWD         TMBJA6NJ1NZ009251  Srebrny Brillant Metalizowany   NEW               GASOLINE   Srebrny Brillant Metalizowany   717.18 PLN      1.0 MPI 60 KM   {addr1: 'Hutnicza 2 A', city: 'Lubin', region: 'Silesian Voivodeship', postal_code: '59-300', country: 'Poland'}                         ### Wyposażenie dodatkowe ###     --- Pakiety promocyjne ---  - Pakiet COMFORT: W skład pakietu promocyjnego wchodzą: Czujniki parkowania z tyłu, Dwuramienna skórzana kierownica wielofunkcyjna (radio + telefon), Tempomat, Radio SWING PLUS (SmartLink, ŠKODA Surround, 2 dodatkowe głośniki z tyłu), Obręcze kół ze stopów lekkich CYGNUS 6J x 15" z oponami 185/60 R15,  --- Koła zapasowe/opony ---  - Zapasowe koło stalowe pełnowymiarowe,        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                               1
63409  FABIA COMBI CLASSIC AMBITION  Manualna  1.0 TSI 95 KM  Oferta leasingu online  in stock      NEW        68350 PLN   https://sklep.skoda-auto.pl/skoda-fabia-combi-classic-1-0-tsi-70-kw-95-km-5-biegowa-manualna-biel-candy-niemetalizowany-tmbjp6nj1nz010415.html     https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/8/4/8452a1bb395e9113d2e8b06b8a1c456d-TMBJP6NJ1NZ010415-EF.png  ŠKODA  1          inne                 Pojazdy i części         FABIA COMBI CLASSIC  2021  MANUAL        WAGON       FWD         TMBJP6NJ1NZ010415  Biel Candy Niemetalizowany      NEW               GASOLINE   Biel Candy Niemetalizowany      715.13 PLN      1.0 TSI 95 KM   {addr1: 'Unii Lubelskiej 5', city: 'Poznań', region: 'Silesian Voivodeship', postal_code: '61-249', country: 'Poland'}                   ### Wyposażenie dodatkowe ###     --- Pakiety promocyjne ---  - Pakiet COMFORT: W skład pakietu promocyjnego wchodzą: Czujniki parkowania z tyłu, Dwuramienna skórzana kierownica wielofunkcyjna (radio + telefon), Tempomat, Radio SWING PLUS (SmartLink, ŠKODA Surround, 2 dodatkowe głośniki z tyłu), Obręcze kół ze stopów lekkich CYGNUS 6J x 15" z oponami 185/60 R15,  --- Komfort ---  - Pakiet zimowy,        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                                                                  1
63388  OCTAVIA COMBI STYLE  Manualna  2.0 TDI 150 KM          Oferta leasingu online  in stock      NEW        140200 PLN  https://sklep.skoda-auto.pl/skoda-octavia-combi-2-0-tdi-110-kw-150-km-6-biegowa-manualna-czern-magic-metalizowany-tmbjj7nxxny011970.html           https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/d/8/d85c85715c113f8063b6ce8daa423372-TMBJJ7NXXNY011970-EF.png  ŠKODA  1          inne                 Pojazdy i części         OCTAVIA COMBI        2021  MANUAL        WAGON       FWD         TMBJJ7NXXNY011970  Czerń Magic Metalizowany        NEW               DIESEL     Czerń Magic Metalizowany        1716.79 PLN     2.0 TDI 150 KM  {addr1: 'Jerozolimskie 249b', city: 'Opacz Kolonia', region: 'Silesian Voivodeship', postal_code: '05-816', country: 'Poland'}           ### Wyposażenie dodatkowe ###     --- Tapicerki ---  - Tapicerka - Suedia / skóra,  --- Pakiety promocyjne ---  - Pakiet Selection: W skład pakietu promocyjnego wchodzą: ADAPTIVE CRUISE CONTROL - aktywny tempomat do 210 km/h, Pakiet oświetlenia LED AMBIENTE, Bezdotykowo otwierana elektrycznie sterowana pokrywa bagażnika, Elektrycznie zwalniana półka bagażnika - dla wersji Combi,        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                                                                                    1
63382  FABIA COMBI CLASSIC AMBITION  Manualna  1.0 TSI 95 KM  Oferta leasingu online  in stock      NEW        69150 PLN   https://sklep.skoda-auto.pl/skoda-fabia-combi-classic-1-0-tsi-70-kw-95-km-5-biegowa-manualna-blekit-race-metalizowany-tmbjp6nj3nz010075.html       https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/1/1/111d885ac39abb9903828a12e2a67f0e-TMBJP6NJ3NZ010075-EF.png  ŠKODA  1          inne                 Pojazdy i części         FABIA COMBI CLASSIC  2021  MANUAL        WAGON       FWD         TMBJP6NJ3NZ010075  Błękit Race Metalizowany        NEW               GASOLINE   Błękit Race Metalizowany        723.50 PLN      1.0 TSI 95 KM   {addr1: 'Unii Lubelskiej 5', city: 'Poznań', region: 'Silesian Voivodeship', postal_code: '61-249', country: 'Poland'}                   ### Wyposażenie dodatkowe ###     --- Pakiety promocyjne ---  - Pakiet COMFORT: W skład pakietu promocyjnego wchodzą: Czujniki parkowania z tyłu, Dwuramienna skórzana kierownica wielofunkcyjna (radio + telefon), Tempomat, Radio SWING PLUS (SmartLink, ŠKODA Surround, 2 dodatkowe głośniki z tyłu), Obręcze kół ze stopów lekkich CYGNUS 6J x 15" z oponami 185/60 R15,  --- Komfort ---  - Pakiet zimowy,        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                                                                  1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
63026  OCTAVIA COMBI STYLE  Manualna  1.5 TSI 150 KM          Oferta leasingu online  in stock      NEW        115900 PLN  https://sklep.skoda-auto.pl/skoda-octavia-combi-1-5-tsi-110-kw-150-km-6-biegowa-manualna-czern-magic-metalizowany-tmbjr7nx8my192283.html           https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/6/3/63e10efbaf583094dd44f055615a2c18-TMBJR7NX8MY192283-EF.png  ŠKODA  1          inne                 Pojazdy i części         OCTAVIA COMBI        2021  MANUAL        WAGON       FWD         TMBJR7NX8MY192283  Czerń Magic Metalizowany        NEW               GASOLINE   Czerń Magic Metalizowany        1033.72 PLN     1.5 TSI 150 KM  {addr1: 'Modlińska 224', city: 'Warszawa', region: 'Silesian Voivodeship', postal_code: '03-119', country: 'Poland'}                     ### Wyposażenie dodatkowe ###     --- Pakiety promocyjne ---  - Pakiet Selection: W skład pakietu promocyjnego wchodzą: ADAPTIVE CRUISE CONTROL - aktywny tempomat do 210 km/h, Pakiet oświetlenia LED AMBIENTE, Elektrycznie sterowana pokrywa bagażnika, Elektryczna blokada otwarcia tylnych drzwi od wewnątrz, Elektrycznie zwalniana półka bagażnika (tylko dla wersji Combi),        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                                                                                              1
62988  SUPERB ACTIVE  Manualna  1.5 TSI 150 KM                Oferta leasingu online  in stock      NEW        105050 PLN  https://sklep.skoda-auto.pl/skoda-superb-1-5-tsi-110-kw-150-km-6-biegowa-manualna-blekit-energy-niemetalizowany-tmban7np5m7072314.html             https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/c/f/cf19d9dd6d5f71d61cf4649d8ee86c23-TMBAN7NP5M7072314-EF.png  ŠKODA  1          inne                 Pojazdy i części         SUPERB               2021  MANUAL        SEDAN       FWD         TMBAN7NP5M7072314  Błękit Energy Niemetalizowany   NEW               GASOLINE   Błękit Energy Niemetalizowany   991.99 PLN      1.5 TSI 150 KM  {addr1: 'Jana Pawła II 127', city: 'Bydgoszcz', region: 'Silesian Voivodeship', postal_code: '85-140', country: 'Poland'}                ### Wyposażenie dodatkowe ###     --- Koła zapasowe/opony ---  - Zapasowe koło stalowe dojazdowe, podnośnik, klucz, bez zestawu naprawczego,        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
62987  SUPERB ACTIVE  Manualna  1.5 TSI 150 KM                Oferta leasingu online  in stock      NEW        105050 PLN  https://sklep.skoda-auto.pl/skoda-superb-1-5-tsi-110-kw-150-km-6-biegowa-manualna-blekit-energy-niemetalizowany-tmban7np3m7073770.html             https://sklep.skoda-auto.pl/media/catalog/product/cache/779e34063ea37c481ddb6652b1f2b61e/c/f/cf19d9dd6d5f71d61cf4649d8ee86c23-TMBAN7NP3M7073770-EF.png  ŠKODA  1          inne                 Pojazdy i części         SUPERB               2021  MANUAL        SEDAN       FWD         TMBAN7NP3M7073770  Błękit Energy Niemetalizowany   NEW               GASOLINE   Błękit Energy Niemetalizowany   991.99 PLN      1.5 TSI 150 KM  {addr1: 'Jana Pawła II 127', city: 'Bydgoszcz', region: 'Silesian Voivodeship', postal_code: '85-140', country: 'Poland'}                ### Wyposażenie dodatkowe ###     --- Koła zapasowe/opony ---  - Zapasowe koło stalowe dojazdowe, podnośnik, klucz, bez zestawu naprawczego,        Przedstawione informacje należy traktować wyłącznie orientacyjnie i nie stanowią one oferty w rozumieniu Kodeksu cywilnego oraz nie są wiążące. Prezentowane informacje nie stanowią zapewnienia w rozumieniu art. 556(1)§2 Kodeksu cywilnego. Zużycie paliwa, emisja CO2 i zużycie energii elektrycznej zostało określone zgodnie z procedurą WLTP. O szczegóły zapytaj Autoryzowanego Dealera marki Skoda lub sprawdź na stronie https://www.skoda-auto.pl/swiat-skody/wltp                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1

In [41]:
vv.price

0      90900 PLN
1     105600 PLN
2     105600 PLN
3     106450 PLN
4     105050 PLN
         ...
66     69150 PLN
67     64800 PLN
68     69600 PLN
69     69600 PLN
70     64950 PLN
Name: price, Length: 71, dtype: object

In [42]:
vv.price = vv.price.str.replace(' PLN', '')

In [43]:
vv.price = vv.price.astype('int')

In [46]:
vv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       71 non-null     int64
 1   title                    71 non-null     category
 2   description              71 non-null     object
 3   availability             71 non-null     object
 4   condition                71 non-null     object
 5   price                    71 non-null     int32
 6   link                     71 non-null     object
 7   image_link               71 non-null     object
 8   brand                    71 non-null     object
 9   inventory                71 non-null     int64
 10  fb_product_category      71 non-null     object
 11  google_product_category  71 non-null     object
 12  model                    71 non-null     object
 13  year                     71 non-null     int64
 14  transmission             71 non-null     object
 15  body_style               71 non-null     object
 16  drivetrain               71 non-null     object
 17  vin                      71 non-null     object
 18  exterior_color           71 non-null     object
 19  state_of_vehicle         71 non-null     object
 20  fuel_type                71 non-null     category
 21  exterior_color.1         71 non-null     object
 22  custom_label_1           71 non-null     object
 23  custom_label_2           71 non-null     object
 24  custom_label_3           71 non-null     object
 25  custom_label_4           71 non-null     object
dtypes: category(2), int32(1), int64(3), object(20)
memory usage: 336.6 KB

In [45]:
vv['fuel_type'] = vv['fuel_type'].astype('category')

In [47]:
vv.price

0      90900
1     105600
2     105600
3     106450
4     105050
       ...
66     69150
67     64800
68     69600
69     69600
70     64950
Name: price, Length: 71, dtype: int32