In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('PublicTransitExpenses.csv', low_memory=False)

In [3]:
frame.head()

,5 digit NTD ID,4 digit NTD ID,Agency,Reporter Type,Subrecipient Type,Organization Type,2015 Total Mode Vehicles (VOMS),Mode,Type of Service,Primary UZA Code,...,Casualty and Liability Costs,Taxes,PT Funds In Report,PT Funds Reported Separately,Miscellaneous Expenses,Reduced Reporter Total OE,Total Operating Expenses,Total Operating Expenses (No Funds Reported Separately),ADA Related Expenses,Location 1
0,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,DR,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$122524.00,$122524.00,$122524.00,$0.00,NaN
1,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,MB,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$272715.00,$272715.00,$272715.00,$0.00,NaN
2,60107,6107,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,CB,PT,NaN,...,NaN,NaN,$3398.00,NaN,NaN,NaN,$7295.00,$7295.00,NaN,NaN
3,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,DR,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$37416.00,$37416.00,$37416.00,NaN,"Usk, WA\n"
4,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,MB,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$345789.00,$345789.00,$345789.00,NaN,"Usk, WA\n"

In [4]:
frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 39 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   5 digit NTD ID                                           17844 non-null  object
 1   4 digit NTD ID                                           17719 non-null  object
 2   Agency                                                   17844 non-null  object
 3   Reporter Type                                            17844 non-null  object
 4   Subrecipient Type                                        3072 non-null   object
 5   Organization Type                                        17759 non-null  object
 6   2015 Total Mode Vehicles (VOMS)                          17522 non-null  float64
 7   Mode                                                     17844 non-null  object
 8   Type of Service                                          17840 non-null  object
 9   Primary UZA Code                                         17712 non-null  float64
 10  Primary UZA Name                                         17705 non-null  object
 11  Primary  UZA Area SQ Miles                               14370 non-null  float64
 12  Primary  UZA Population                                  14370 non-null  float64
 13  Service Area SQ Miles                                    14414 non-null  float64
 14  Service Area Population                                  14418 non-null  float64
 15  Year                                                     17844 non-null  int64
 16  Vehicles Operated at Maximum Service (VOMS)              17836 non-null  float64
 17  Vehicles Available for Maximum Service (VAMS)            13887 non-null  float64
 18  Rail (Y/N)                                               17318 non-null  object
 19  Fixed Route (Y/N)                                        17318 non-null  object
 20  Expense Function                                         17844 non-null  object
 21  Operators' Salaries and Wages                            4920 non-null   object
 22  Other Salaries and Wages                                 10348 non-null  object
 23  Fringe Benefits                                          10425 non-null  object
 24  Service Costs                                            10262 non-null  object
 25  Fuel and Lubricants                                      6515 non-null   object
 26  Tires and Tubes                                          5615 non-null   object
 27  Other Materials and Supplies                             10230 non-null  object
 28  Utilities                                                5999 non-null   object
 29  Casualty and Liability Costs                             6953 non-null   object
 30  Taxes                                                    4680 non-null   object
 31  PT Funds In Report                                       7592 non-null   object
 32  PT Funds Reported Separately                             3555 non-null   object
 33  Miscellaneous Expenses                                   7837 non-null   object
 34  Reduced Reporter Total OE                                7054 non-null   object
 35  Total Operating Expenses                                 17844 non-null  object
 36  Total Operating Expenses (No Funds Reported Separately)  17844 non-null  object
 37  ADA Related Expenses                                     3187 non-null   object
 38  Location 1                                               17712 non-null  object
dtypes: float64(8), int64(1), object(30)
memory usage: 30.5 MB